## Ignore Visual Studio temporary files, build results, and
## Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

## Ignore dotnet files
bin/
obj/
out/
rider.idea/

## Ignore Rider IDE files
.idea/

## Ignore VS Code files
.vscode/

## Ignore Windows image file caches
Thumbs.db
ehthumbs.db

## Ignore Mac DS Store files
.DS_Store

## Ignore SQLite database files
*.db
*.sqlite

## Ignore user secrets file
appsettings.*.json

## Ignore Rider user settings
.idea/

# User-specific files
*.rsuser 
*.suo 
*.user 
*.userosscache 
*.sln.docstates

# Windows image file caches
Thumbs.db 
ehthumbs.db

# VS Code directories
.vscode/ 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
*.code-workspace

# Rider
.idea/

# ASP.NET Scaffolder
ScaffoldingReadMe.txt
AudioPool.Models/bin/Debug/net7.0/AudioPool.Models.dll
AudioPool.Models/bin/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Models/obj/AudioPool.Models.csproj.nuget.dgspec.json
AudioPool.Models/obj/AudioPool.Models.csproj.nuget.g.props
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.assets.cache
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.csproj.AssemblyReference.cache
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.csproj.CoreCompileInputs.cache
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.csproj.FileListAbsolute.txt
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.dll
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.GeneratedMSBuildEditorConfig.editorconfig
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.genruntimeconfig.cache
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Models/obj/Debug/net7.0/ref/AudioPool.Models.dll
AudioPool.Models/obj/Debug/net7.0/refint/AudioPool.Models.dll
AudioPool.Models/obj/project.assets.json
AudioPool.Models/obj/project.nuget.cache
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Models.dll
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Presentation
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Presentation.dll
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Presentation.pdb
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.dll
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.pdb
AudioPool.Presentation/obj/AudioPool.Presentation.csproj.nuget.dgspec.json
AudioPool.Presentation/obj/AudioPool.Presentation.csproj.nuget.g.props
AudioPool.Presentation/obj/Debug/net7.0/apphost
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.assets.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.AssemblyReference.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.CoreCompileInputs.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.FileListAbsolute.txt
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.dll
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.GeneratedMSBuildEditorConfig.editorconfig
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.genruntimeconfig.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.pdb
AudioPool.Presentation/obj/project.assets.json
AudioPool.Presentation/obj/project.nuget.cache
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Models.dll
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Repository.dll
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Repository.pdb
AudioPool.Repository/obj/AudioPool.Repository.csproj.nuget.dgspec.json
AudioPool.Repository/obj/AudioPool.Repository.csproj.nuget.g.props
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.assets.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.AssemblyReference.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.CoreCompileInputs.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.FileListAbsolute.txt
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.dll
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.GeneratedMSBuildEditorConfig.editorconfig
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.genruntimeconfig.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.pdb
AudioPool.Repository/obj/project.assets.json
AudioPool.Repository/obj/project.nuget.cache
AudioPool.Service/obj/AudioPool.Service.csproj.nuget.dgspec.json
AudioPool.Service/obj/AudioPool.Service.csproj.nuget.g.props
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.assets.cache
AudioPool.Service/obj/project.assets.json
AudioPool.Service/obj/project.nuget.cache
AudioPool.Models/AudioPool.Models.csproj
AudioPool.Models/bin/Debug/net7.0/AudioPool.Models.dll
AudioPool.Models/bin/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Models/obj/AudioPool.Models.csproj.nuget.dgspec.json
AudioPool.Models/obj/AudioPool.Models.csproj.nuget.g.props
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.assets.cache
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.csproj.AssemblyReference.cache
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.csproj.CoreCompileInputs.cache
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.dll
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.GeneratedMSBuildEditorConfig.editorconfig
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.genruntimeconfig.cache
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Models/obj/Debug/net7.0/refint/AudioPool.Models.dll
AudioPool.Models/obj/project.assets.json
AudioPool.Models/obj/project.nuget.cache
AudioPool.Models/obj/project.packagespec.json
AudioPool.Models/obj/rider.project.model.nuget.info
AudioPool.Models/obj/rider.project.restore.info
AudioPool.Presentation/AudioPool.Presentation.csproj
AudioPool.Presentation/bin/Debug/net7.0/appsettings.Development.json
AudioPool.Presentation/bin/Debug/net7.0/appsettings.json
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Models.dll
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Presentation
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Presentation.dll
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Presentation.pdb
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.dll
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.pdb
AudioPool.Presentation/obj/AudioPool.Presentation.csproj.nuget.dgspec.json
AudioPool.Presentation/obj/AudioPool.Presentation.csproj.nuget.g.props
AudioPool.Presentation/obj/Debug/net7.0/apphost
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.assets.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.AssemblyReference.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.CoreCompileInputs.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.dll
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.GeneratedMSBuildEditorConfig.editorconfig
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.genruntimeconfig.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.MvcApplicationPartsAssemblyInfo.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.MvcApplicationPartsAssemblyInfo.cs
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.pdb
AudioPool.Presentation/obj/Debug/net7.0/refint/AudioPool.Presentation.dll
AudioPool.Presentation/obj/Debug/net7.0/staticwebassets.build.json
AudioPool.Presentation/obj/Debug/net7.0/staticwebassets/msbuild.build.AudioPool.Presentation.props
AudioPool.Presentation/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.AudioPool.Presentation.props
AudioPool.Presentation/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.AudioPool.Presentation.props
AudioPool.Presentation/obj/project.assets.json
AudioPool.Presentation/obj/project.nuget.cache
AudioPool.Presentation/obj/project.packagespec.json
AudioPool.Presentation/obj/rider.project.model.nuget.info
AudioPool.Presentation/obj/rider.project.restore.info
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Models.dll
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Repository.dll
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Repository.pdb
AudioPool.Repository/obj/AudioPool.Repository.csproj.nuget.dgspec.json
AudioPool.Repository/obj/AudioPool.Repository.csproj.nuget.g.props
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.assets.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.AssemblyReference.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.CoreCompileInputs.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.dll
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.GeneratedMSBuildEditorConfig.editorconfig
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.genruntimeconfig.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.pdb
AudioPool.Repository/obj/Debug/net7.0/refint/AudioPool.Repository.dll
AudioPool.Repository/obj/project.assets.json
AudioPool.Repository/obj/project.nuget.cache
AudioPool.Repository/obj/rider.project.model.nuget.info
AudioPool.Repository/obj/rider.project.restore.info
AudioPool.Service/AudioPool.Service.csproj
AudioPool.Service/bin/Debug/net7.0/AudioPool.Service.dll
AudioPool.Service/bin/Debug/net7.0/AudioPool.Service.pdb
AudioPool.Service/obj/AudioPool.Service.csproj.nuget.dgspec.json
AudioPool.Service/obj/AudioPool.Service.csproj.nuget.g.props
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.assets.cache
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.csproj.CoreCompileInputs.cache
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.csproj.FileListAbsolute.txt
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.dll
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.pdb
AudioPool.Service/obj/Debug/net7.0/refint/AudioPool.Service.dll
AudioPool.Service/obj/project.assets.json
AudioPool.Service/obj/project.nuget.cache
AudioPool.Service/obj/project.packagespec.json
AudioPool.Service/obj/rider.project.model.nuget.info
AudioPool.Service/obj/rider.project.restore.info
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.AssemblyReference.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.FileListAbsolute.txt
AudioPool.Presentation/obj/Debug/net7.0/ref/AudioPool.Presentation.dll
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Repository.deps.json
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.AssemblyReference.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.FileListAbsolute.txt
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.csproj.FileListAbsolute.txt
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.csproj.FileListAbsolute.txt
AudioPool.Models/bin/Debug/net7.0/AudioPool.Models.deps.json
AudioPool.Service/obj/AudioPool.Service.csproj.nuget.dgspec.json
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.assets.cache
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.csproj.AssemblyReference.cache
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.csproj.FileListAbsolute.txt
AudioPool.Service/obj/Debug/net7.0/ref/AudioPool.Service.dll
AudioPool.Service/obj/project.assets.json
AudioPool.Service/obj/project.nuget.cache
AudioPool.Service/obj/project.packagespec.json
AudioPool.Service/obj/rider.project.model.nuget.info
AudioPool.Service/obj/rider.project.restore.info
AudioPool.Service/bin/Debug/net7.0/AudioPool.Service.deps.json
AudioPool.Repository/obj/rider.project.restore.info
AudioPool.Repository/obj/rider.project.model.nuget.info
AudioPool.Repository/obj/Debug/net7.0/ref/AudioPool.Repository.dll
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.AssemblyReference.cache
AudioPool.Presentation/obj/AudioPool.Presentation.csproj.nuget.dgspec.json
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.assets.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.AssemblyReference.cache
AudioPool.Presentation/obj/Debug/net7.0/ref/AudioPool.Presentation.dll
AudioPool.Presentation/obj/project.assets.json
AudioPool.Presentation/obj/project.nuget.cache
AudioPool.Presentation/obj/project.packagespec.json
AudioPool.Presentation/obj/rider.project.model.nuget.info
AudioPool.Presentation/obj/rider.project.restore.info
AudioPool.Models/obj/rider.project.restore.info
AudioPool.Models/obj/rider.project.model.nuget.info
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.assets.cache
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.pdb
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.dll
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Presentation.deps.json
AudioPool.Presentation/obj/rider.project.restore.info
AudioPool.Presentation/obj/rider.project.model.nuget.info
AudioPool.Presentation/obj/project.packagespec.json
AudioPool.Presentation/obj/project.nuget.cache
AudioPool.Presentation/obj/project.assets.json
AudioPool.Presentation/obj/Debug/net7.0/ref/AudioPool.Presentation.dll
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.AssemblyReference.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.assets.cache
AudioPool.Presentation/obj/AudioPool.Presentation.csproj.nuget.dgspec.json
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.assets.cache
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.csproj.FileListAbsolute.txt
AudioPool.Models/obj/Debug/net7.0/ref/AudioPool.Models.dll
AudioPool.Models/obj/rider.project.restore.info
AudioPool.Presentation/AudioPool.Presentation.csproj
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Models.dll
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Presentation.deps.json
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.dll
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.pdb
AudioPool.Presentation/obj/AudioPool.Presentation.csproj.nuget.dgspec.json
AudioPool.Presentation/obj/Debug/net7.0/apphost
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.assets.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.AssemblyReference.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.FileListAbsolute.txt
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.genruntimeconfig.cache
AudioPool.Presentation/obj/Debug/net7.0/ref/AudioPool.Presentation.dll
AudioPool.Presentation/obj/project.assets.json
AudioPool.Presentation/obj/project.nuget.cache
AudioPool.Presentation/obj/project.packagespec.json
AudioPool.Presentation/obj/rider.project.model.nuget.info
AudioPool.Presentation/obj/rider.project.restore.info
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Models.dll
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.assets.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.AssemblyReference.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.FileListAbsolute.txt
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.genruntimeconfig.cache
AudioPool.Repository/obj/Debug/net7.0/ref/AudioPool.Repository.dll
AudioPool.Repository/obj/rider.project.restore.info
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.assets.cache
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.csproj.AssemblyReference.cache
AudioPool.Service/obj/Debug/net7.0/ref/AudioPool.Service.dll
AudioPool.Service/obj/rider.project.restore.info
.DS_Store
.DS_Store
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.GeneratedMSBuildEditorConfig.editorconfig
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.csproj.FileListAbsolute.txt
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.csproj.AssemblyReference.cache
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.assets.cache
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.AssemblyInfoInputs.cache
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.AssemblyInfo.cs
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.GeneratedMSBuildEditorConfig.editorconfig
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.FileListAbsolute.txt
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.AssemblyReference.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.assets.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.AssemblyInfoInputs.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.AssemblyInfo.cs
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.GeneratedMSBuildEditorConfig.editorconfig
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.FileListAbsolute.txt
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.AssemblyReference.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.assets.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.AssemblyInfoInputs.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.AssemblyInfo.cs
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.GeneratedMSBuildEditorConfig.editorconfig
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.csproj.FileListAbsolute.txt
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.assets.cache
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.AssemblyInfoInputs.cache
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.AssemblyInfo.cs
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.assets.cache
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.csproj.FileListAbsolute.txt
AudioPool.Service/obj/Debug/net7.0/ref/AudioPool.Service.dll
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.assets.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.FileListAbsolute.txt
AudioPool.Repository/obj/Debug/net7.0/ref/AudioPool.Repository.dll
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Models.dll
AudioPool.Presentation/obj/Debug/net7.0/ref/AudioPool.Presentation.dll
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.FileListAbsolute.txt
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.assets.cache
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.pdb
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.dll
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Models.dll
AudioPool.Models/obj/Debug/net7.0/ref/AudioPool.Models.dll
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.csproj.FileListAbsolute.txt
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.assets.cache
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.dll
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.pdb
AudioPool.Presentation/DbAudioPool.sqlite
AudioPool.Presentation/DbAudioPool.sqlite-shm
AudioPool.Presentation/DbAudioPool.sqlite-wal
AudioPool.Presentation/obj/Debug/net7.0/ref/AudioPool.Presentation.dll
AudioPool.Repository/obj/Debug/net7.0/ref/AudioPool.Repository.dll
AudioPool.Service/obj/Debug/net7.0/ref/AudioPool.Service.dll
AudioPool.Models/obj/rider.project.restore.info
AudioPool.Models/obj/rider.project.model.nuget.info
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.pdb
AudioPool.Presentation/DbAudioPool.sqlite
AudioPool.Presentation/obj/Debug/net7.0/ref/AudioPool.Presentation.dll
AudioPool.Presentation/obj/rider.project.model.nuget.info
AudioPool.Presentation/obj/rider.project.restore.info
AudioPool.Repository/obj/Debug/net7.0/ref/AudioPool.Repository.dll
AudioPool.Repository/obj/rider.project.model.nuget.info
AudioPool.Repository/obj/rider.project.restore.info
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.assets.cache
*.cache
AudioPool.Service/obj/project.nuget.cache
AudioPool.Service/obj/project.assets.json
AudioPool.Service/obj/Debug/net7.0/ref/AudioPool.Service.dll
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.csproj.FileListAbsolute.txt
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.csproj.AssemblyReference.cache
AudioPool.Service/obj/Debug/net7.0/AudioPool.Service.assets.cache
AudioPool.Service/obj/AudioPool.Service.csproj.nuget.g.props
AudioPool.Service/obj/AudioPool.Service.csproj.nuget.dgspec.json
AudioPool.Repository/obj/project.nuget.cache
AudioPool.Repository/obj/project.assets.json
AudioPool.Repository/obj/Debug/net7.0/ref/AudioPool.Repository.dll
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.genruntimeconfig.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.csproj.AssemblyReference.cache
AudioPool.Repository/obj/Debug/net7.0/AudioPool.Repository.assets.cache
AudioPool.Repository/obj/AudioPool.Repository.csproj.nuget.g.props
AudioPool.Repository/obj/AudioPool.Repository.csproj.nuget.dgspec.json
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Repository/bin/Debug/net7.0/AudioPool.Models.dll
AudioPool.Presentation/obj/project.packagespec.json
AudioPool.Presentation/obj/project.nuget.cache
AudioPool.Presentation/obj/project.assets.json
AudioPool.Presentation/obj/Debug/net7.0/ref/AudioPool.Presentation.dll
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.genruntimeconfig.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.csproj.AssemblyReference.cache
AudioPool.Presentation/obj/Debug/net7.0/AudioPool.Presentation.assets.cache
AudioPool.Presentation/obj/Debug/net7.0/apphost
AudioPool.Presentation/obj/AudioPool.Presentation.csproj.nuget.g.props
AudioPool.Presentation/obj/AudioPool.Presentation.csproj.nuget.dgspec.json
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.pdb
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Repository.dll
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Models.pdb
AudioPool.Presentation/bin/Debug/net7.0/AudioPool.Models.dll
AudioPool.Models/obj/project.nuget.cache
AudioPool.Models/obj/project.assets.json
AudioPool.Models/obj/Debug/net7.0/AudioPool.Models.assets.cache
AudioPool.Models/obj/AudioPool.Models.csproj.nuget.g.props
AudioPool.Models/obj/AudioPool.Models.csproj.nuget.dgspec.json
